<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">{{ header }}</h3>
  </div>
  <div class="panel-body">

    <div class="row">
      <div class="col-xs-6"><label for="description">Description:</label></div>
      <div class="col-xs-6">
        <input type="text" 
          name="description"
          ng-model="form.log.description" 
          ng-model-options="{ updateOn: 'default blur', debounce : { 'default' : 500, blur : 0 } }"
          ng-minlength="1"
          ng-maxlength="20" 
          required />
        <div ng-messages="logForm.description.$error" ng-messages-include="errors.html" 
             ng-if="logForm.description.$dirty && logForm.description.$invalid">
        </div>
      </div>
    </div>

  </div>
</div>