

<div class="row">
	
</div>
<div class="row">
	<div class="column col-md-4">
		<h2>Today</h2>

		<h3>Incoming</h3>
		<h3>Outbound</h3>
		<h3>Warnings</h3>

		<a href="">Mark business day done</a>
	</div>

	<div class="column col-md-4">
		<h2>Tomorrow</h2>

		<h3>Incoming</h3>
		<h3>Outbound</h3>
		<h3>Warnings</h3>
	</div>

	<nav class="col-md-4">
		<a href="#/orders/new">Add order</a><br />
		<a href="#/orders/unmatched">Unmatched orders</a><br />
		<a href="#/orders/unshipped">Unshipped orders</a><br />
		<a href="#/inventory/new">Add inventory</a><br />
		<hr />

		<p>Order id:
		<input type="text" placeholder="123" ng-model="order_id"/></p>
		<a href="#/orders/edit/{{order_id}}">Edit order</a><br />
		<a href="#/orders/ship/{{order_id}}">Ship order</a>
		<hr />

		<a href="#/inventory/received">Mark inventory in</a><br />
		
	</nav>
</div>