

<div class="row">
	
</div>
<div class="row">
	<div class="column col-md-4">
		<h2>Today</h2>

		<h3>Incoming</h3>
			<ul>
				<li ng-repeat="phone in data.today.incoming">
					<a href="/#/inventory/{{phone.id}}">{{phone.inventory_id}}</a></li>
			</ul>
		<h3>Outbound</h3>
			<ul>
				<li ng-repeat="phone in data.today.outbound">
					<a href="/#/inventory/{{phone.id}}">{{phone.inventory_id}}</a></li>
			</ul>
		<h3>Warnings</h3>

		<a href="">Mark business day done</a>
	</div>

	<div class="column col-md-4">
		<h2>Tomorrow</h2>
			
		<h3>Incoming</h3>
			<ul>
				<li ng-repeat="phone in data.tomorrow.incoming">
					<a href="/#/inventory/{{phone.id}}">{{phone.inventory_id}}</a></li>
			</ul>
		<h3>Outbound</h3>
			<ul>
				<li ng-repeat="phone in data.tomorrow.outbound">
					<a href="/#/inventory/{{phone.id}}">{{phone.inventory_id}}</a></li>
			</ul>
		<h3>Warnings</h3>
	</div>

<div class="col-md-4 sidebar">
	<h4>Search</h4>
	<input type="text" placeholder="invoice #, name, address, ..." ng-model="query" size="30" ng-click="doSearch()" />

	<br />
	<br />
	<h4>Order Management</h4>
	<p><a href="#/orders/new">Add order</a></p>
	<p>Edit order:
		<input type="text" placeholder="123" size="5" ng-model="order_id"/>
		<button type="button" class="btn btn-default btn-sm" >
			<span class="glyphicon glyphicon-chevron-right" ng-click="">
		</button>
	</p>

	<br />
	<h4>Inventory Management</h4>
	<p><a href="#/inventory/new">Add inventory</a></p>
	<p><a href="#/inventory/received">Mark inventory in</a></p>

	<br />
	<h4>Fulfillment Management</h4>
	<p><a href="#/orders?verifiedState=0">Pending orders</a></p>
	<p><a href="#/orders?verifiedState=1">Unshipped orders</a></p>
	<p><a href="">Calendar</a></p>


</div>

</div>

<br />