
<div class="row">
<div class="column col-md-8"><!-- center column -->

<div class="row">
<div class="column col-md-6"><!-- left half -->
	<div class="row">
		<h2>Today</h2>
	</div>
	<div class="row">
		<h3>Incoming</h3>
	</div>
	<div class="row" ng-repeat="blob in data.today.incoming">
		Order #{{blob.invoice_id}}: 
		<a data-toggle="modal" data-target="#myModal"
			ng-click="showCheckInModal(blob.incoming_phones)">
		 <span ng-repeat="phone in blob.incoming_phones">{{phone.inventory_id}} </span></a>
	</div>
	<div class="row">
		<h3>Outbound</h3>
	</div>
	<div class="row" ng-repeat="blob in data.today.outbound">
		Order #{{blob.invoice_id}}: 
		<a href="/#/orders/ship/{{blob.order_id}}">
		 <span ng-repeat="phone in blob.unshipped_phones">{{phone.inventory_id}} </span></a>
	</div>
</div>

<div class="column col-md-6"><!-- right half -->
	<div class="row">
		<h2>Tomorrow</h2>
	</div>
	<div class="row">
		<h3>Incoming</h3>
	</div>
	<div class="row" ng-repeat="blob in data.tomorrow.incoming">
		Order #{{blob.invoice_id}}: 
		<a data-toggle="modal" data-target="#myModal"
			ng-click="showCheckInModal(blob.incoming_phones)">
		 <span ng-repeat="phone in blob.incoming_phones">{{phone.inventory_id}} </span></a>
	</div>
	<div class="row">
		<h3>Outbound</h3>
	</div>
	<div class="row" ng-repeat="blob in data.tomorrow.outbound">
		Order #{{blob.invoice_id}}: 
		<a href="/#/orders/ship/{{blob.order_id}}">
		 <span ng-repeat="phone in blob.unshipped_phones">{{phone.inventory_id}} </span></a>
	</div>
</div>
</div>

<div ng-if="data.warnings.overdue.length > 0">

<div class="row">
	<h3 class="text-danger">Warnings</h3>
</div>
<div class="row" ng-repeat="order in data.warnings.overdue">
	<p>Order <a href="/#/orders/{{order.id}}">#{{order.invoice_id}}</a> is past due.</p>
</div>
</div>

</div><!-- warnings -->

<div class="column col-md-4">
<div class="row">
	<h4>Search</h4>
	<input type="text" placeholder="invoice #, name, address, ..." ng-model="query" size="30" ng-click="doSearch(query)" />
</div>


<div class="row">
	<br />
	<h4>Order Management</h4>
</div>
<div class="row">
	<a href="/#/orders/new">Add order</a>
</div>
<div class="row">
	<a href="/#/orders/edit/{{order_id}}">Edit order:</a>
	<input type="text" placeholder="id or invoice#" 
		size="10" ng-model="order_id" />
</div>
<div class="row">
	<a href="/#/orders/out">Orders currently out</a>
</div>


<div class="row">
	<br />
	<h4>Inventory Management</h4>
</div>
<div class="row">
	<a href="/#/inventory/new">Add inventory</a>
</div>
<div class="row">
	<a href="/#/inventory/edit/{{inventory_id1}}">Edit inventory:</a>
	<input type="text" placeholder="id" 
			size="5" ng-model="inventory_id1" />
</div>

<div class="row">
	<form name="receivedForm" class="form-inline" novalidate role="form">
		<label class="sr-only" for="inventory_id2">Mark inventory received:</label>
		<input name="inventory_id2" type="text" size="10" placeholder="id1, id2, ..."
			ng-model="data.inventory_id2"
			required />
		<button class="btn btn-sm btn-default" type="submit"
			ng-click="markReceived(data.inventory_id2)">
			Mark Received
		</button>
	</form>
</div>

<div class="row">
	<br />
	<h4>Fulfillment Management</h4>
</div>
<div class="row">
	<a href="/#/orders?verifiedState=0">Pending orders</a>
</div>
<div class="row">
	<a href="/#/orders?verifiedState=1">Unshipped orders</a>
</div>
<div class="row">
	<a href="">Calendar</a>
</div>
<div class="row">
	<br />
</div>
	
	
	
</div><!-- col-4 -->
</div><!-- row -->


<div ng-include src="'/views/home/_modal.html'"></div>
<div ng-include src="'/views/home/_confirmation_modal.html'"></div>
