<div class="detail-column">

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Customer Detail #{{data.customer.id}}
		</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-6">Name:</div>
			<div class="col-xs-6">{{data.cust.fname}} {{data.customer.lname}}</div>
		</div>

		<div class="row">
			<div class="col-xs-6">Email:</div>
			<div class="col-xs-6">{{data.customer.email}}</div>
		</div>

		<div class="row">
			<div class="col-xs-12"><br />Credit cards on file:</div>
		</div>
		<!-- TODO -->
		<div class="row" ng-repeat="card in cards">		
			<div class="row">
				<div class="col-xs-6">Braintree ID:</div>
				<div class="col-xs-6">{{card.bt_id}}</div>
			</div>
			<div class="row">
				<div class="col-xs-6">Last 4:</div>
				<div class="col-xs-6">{{card.last4}}</div>
			</div>
			<div class="row">
				<div class="col-xs-6">Active:</div>
				<div class="col-xs-6">{{card.active}}</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12"><br />Upcoming orders:</div>
		</div>
		<!-- TODO -->
		<div class="row">
			<div class="col-xs-12"></div>
		</div>

	</div>
</div>

</div>