<p>Telcos</p>

<p>Search: <input ng-model="query">&nbsp;&nbsp;&nbsp;
<a href="#/telcos/new">Add +</a></p>


<table class="table">
<thead>
<tr>
	<th ng-class="{ascending: sort.column == 'id' && !sort.descending, 
								 descending: sort.column == 'id' && sort.descending}" ng-click="changeSorting('id')">
		# <span ng-show="sort.column == 'id'"> {{ sort.descending | sortOrderIcon }}</span>
	</th>
	<th ng-class="{ascending: sort.column == 'name' && !sort.descending, 
								 descending: sort.column == 'name' && sort.descending}" ng-click="changeSorting('name')">
		Name <span ng-show="sort.column == 'name'"> {{ sort.descending | sortOrderIcon }}</span>
	</th>
	<th></th>
</tr>
</thead>
<tbody>
<tr ng-repeat="telco in Telco.telcos | filter:query | orderBy:sort.column:sort.descending">
	<td ng-class-odd="'odd'" ng-class-even="'even'">{{ telco.id }}</td>
	<td ng-class-odd="'odd'" ng-class-even="'even'">{{ telco.name }}</td>
	<td ng-class-odd="'odd'" ng-class-even="'even'">
		<!--a href="#/telcos/{{ telco.id }}">Details</a-->

		<!--a href="" ng-click="toggleActivation(telco, 'telcos')">
			{{ telco.active ? 'Deactivate' : 'Activate' }}
		</a-->
	</td>
</tr>
</tbody>
</table>
