<form	name="orderForm" novalidate role="form"
	class="form-horizontal">
	

	<div class="panel panel-warning">
	<div class="panel-heading">
		<h3 class="panel-title">{{ header }}</h3>
	</div>
	<div class="panel-body">

		<div class="form-group">
			<label class="col-xs-3 control-label" for="invoice_id">Invoice #:</label>
			<div class="col-xs-6">
				<input type="text" class="form-control" 
					name="invoice_id"
					ng-model="form.order.invoice_id" 
					ng-model-options="{ updateOn: 'default blur', debounce : { 'default' : 500, blur : 0 } }"
					ng-minlength="1"
					ng-maxlength="20" 
					required />
				<div class="text-danger" ng-messages="orderForm.invoice_id.$error" ng-messages-include="errors.html" 
						 ng-if="orderForm.invoice_id.$dirty && orderForm.invoice_id.$invalid">
	      </div>
			</div>
		</div><!-- form-group -->

		<div class="form-group">
			<label class="col-xs-3 control-label" for="delivery_type_str">Delivery Type:</label>
			<div class="col-xs-6">
				<select class="dropdown form-control"
						name="delivery_type_str" 
						ng-model="form.order.delivery_type_str" 
						>
						<option value="">Select...</option>
						<option value="residential">Residential</option>
						<option value="hotel">Hotel</option>
						<option value="fedex">Fedex</option>
				</select>

				<div class="text-danger" ng-messages="orderForm.delivery_type_str.$error" ng-messages-include="errors.html" 
						 ng-if="orderForm.delivery_type_str.$dirty && orderForm.delivery_type_str.$invalid">
	      </div>
			</div>
		</div><!-- form-group -->

		<div class="form-group">
			<label class="col-xs-3 control-label" for="shipping_name">Customer Name:</label>
			<div class="col-xs-6">
				<input type="text" class="form-control"
					name="shipping_name"
					ng-model="form.order.shipping_name" 
					ng-model-options="{ updateOn: 'default blur', debounce : { 'default' : 500, blur : 0 } }"
					ng-minlength="1"
					ng-maxlength="50" 
					required />
				<div class="text-danger" ng-messages="orderForm.shipping_name.$error" ng-messages-include="errors.html" 
						 ng-if="orderForm.shipping_name.$dirty && orderForm.shipping_name.$invalid">
	      </div>
			</div>
		</div><!-- form-group -->

		<div class="form-group">
			<label class="col-xs-3 control-label" for="shipping_city">Shipping City:</label>
			<div class="col-xs-6">
				<input type="text" class="form-control"
					name="shipping_city"
					ng-model="form.order.shipping_city" 
					ng-model-options="{ updateOn: 'default blur', debounce : { 'default' : 500, blur : 0 } }"
					ng-minlength="1"
					ng-maxlength="50" 
					required />
				<div class="text-danger" ng-messages="orderForm.shipping_city.$error" ng-messages-include="errors.html" 
						 ng-if="orderForm.shipping_city.$dirty && orderForm.shipping_city.$invalid">
	      </div>
			</div>
		</div><!-- form-group -->

		<div class="form-group">
			<label class="col-xs-3 control-label" for="shipping_state">Shipping State:</label>
			<div class="col-xs-6">
				<input type="text" class="form-control"
					name="shipping_state"
					ng-model="form.order.shipping_state" 
					ng-model-options="{ updateOn: 'default blur', debounce : { 'default' : 500, blur : 0 } }"
					ng-minlength="1"
					ng-maxlength="20" 
					required />
				<div class="text-danger" ng-messages="orderForm.shipping_state.$error" ng-messages-include="errors.html" 
						 ng-if="orderForm.shipping_state.$dirty && orderForm.shipping_state.$invalid">
	      </div>
			</div>
		</div><!-- form-group -->

		<div class="form-group">
			<label class="col-xs-3 control-label" for="shipping_zip">Shipping Zip:</label>
			<div class="col-xs-6">
				<input type="text" class="form-control"
					name="shipping_zip"
					ng-model="form.order.shipping_zip" 
					ng-model-options="{ updateOn: 'default blur', debounce : { 'default' : 500, blur : 0 } }"
					ng-minlength="1"
					ng-maxlength="5" 
					required />
				<div class="text-danger" ng-messages="orderForm.shipping_zip.$error" ng-messages-include="errors.html" 
						 ng-if="orderForm.shipping_zip.$dirty && orderForm.shipping_zip.$invalid">
	      </div>
			</div>
		</div><!-- form-group -->

		<div class="form-group">
			<label class="col-xs-3 control-label" for="shipping_country">Shipping Country:</label>
			<div class="col-xs-6">
				<input type="text" class="form-control"
					name="shipping_country"
					ng-model="form.order.shipping_country" 
					ng-model-options="{ updateOn: 'default blur', debounce : { 'default' : 500, blur : 0 } }"
					ng-minlength="1"
					ng-maxlength="20" 
					required />
				<div class="text-danger" ng-messages="orderForm.shipping_country.$error" ng-messages-include="errors.html" 
						 ng-if="orderForm.shipping_country.$dirty && orderForm.shipping_country.$invalid">
	      </div>
			</div>
		</div><!-- form-group -->

		<div class="form-group">
			<label class="col-xs-3 control-label" for="shipping_apt_suite">Shipping Apt/Suite:</label>
			<div class="col-xs-6">
				<input type="text" class="form-control"
					name="shipping_apt_suite"
					ng-model="form.order.shipping_apt_suite" 
					ng-model-options="{ updateOn: 'default blur', debounce : { 'default' : 500, blur : 0 } }"
					ng-minlength="1"
					ng-maxlength="20" 
					/>
				<div class="text-danger" ng-messages="orderForm.shipping_apt_suite.$error" ng-messages-include="errors.html" 
						 ng-if="orderForm.shipping_apt_suite.$dirty && orderForm.shipping_apt_suite.$invalid">
	      </div>
			</div>
		</div><!-- form-group -->

		<div class="form-group">
			<label class="col-xs-3 control-label" for="shipping_notes">Shipping Notes:</label>
			<div class="col-xs-6">
				<textarea type="text" class="form-control"
					name="shipping_notes"
					ng-model="form.order.shipping_notes" 
					ng-model-options="{ updateOn: 'default blur', debounce : { 'default' : 500, blur : 0 } }"
					ng-maxlength="100" 
					/>
				<div class="text-danger" ng-messages="orderForm.shipping_notes.$error" ng-messages-include="errors.html" 
						 ng-if="orderForm.shipping_notes.$dirty && orderForm.shipping_notes.$invalid">
	      </div>
			</div>
		</div><!-- form-group -->

		<div class="form-group">
			<label class="col-xs-3 control-label" for="arrival_date">Arrival Date:</label>
			<div class="col-xs-6">
				<input type="date"  class="form-control"
					name="arrival_date"
					ng-model="form.order.arrival_date" 
					ng-model-options="{ updateOn: 'default blur', debounce : { 'default' : 500, blur : 0 } }"
					ng-minlength="1"
					ng-maxlength="20" 
					required />
				<div class="text-danger" ng-messages="orderForm.arrival_date.$error" ng-messages-include="errors.html" 
						 ng-if="orderForm.arrival_date.$dirty && orderForm.arrival_date.$invalid">
	      </div>
			</div>
		</div><!-- form-group -->

		<div class="form-group">
			<label class="col-xs-3 control-label" for="departure_date">Departure Date:</label>
			<div class="col-xs-6">
				<input type="date" class="form-control"
					name="departure_date"
					ng-model="form.order.departure_date" 
					ng-model-options="{ updateOn: 'default blur', debounce : { 'default' : 500, blur : 0 } }"
					ng-minlength="1"
					ng-maxlength="20" 
					required />
				<div class="text-danger" ng-messages="orderForm.departure_date.$error" ng-messages-include="errors.html" 
						 ng-if="orderForm.departure_date.$dirty && orderForm.departure_date.$invalid">
	      </div>
			</div>
		</div><!-- form-group -->

		<div class="form-group">
			<label class="col-xs-3 control-label" for="language">Language:</label>
			<div class="col-xs-6">
				<select class="dropdown form-control"
						name="language" 
						ng-model="form.order.language" 
						>
						<option value="">Select...</option>
						<option value="English">English</option>
						<option value="French">French</option>
						<option value="German">German</option>
						<option value="Japanese">Japanese</option>
						<option value="Mandarin">Mandarin</option>
						<option value="Spanish">Spanish</option>
				</select>
				<div class="text-danger" ng-messages="orderForm.language.$error" ng-messages-include="errors.html" 
						 ng-if="orderForm.language.$dirty && orderForm.language.$invalid">
	      </div>
			</div>
		</div><!-- form-group -->

		<div class="form-group">
			<label class="col-xs-3 control-label" for="num_phones">Num Phones:</label>
			<div class="col-xs-6">
				<select class="dropdown form-control"
						name="num_phones" 
						ng-model="form.order.num_phones" 
						>
						<option value="">Select...</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
				</select>
				<div class="text-danger" ng-messages="orderForm.num_phones.$error" ng-messages-include="errors.html" 
						 ng-if="orderForm.num_phones.$dirty && orderForm.num_phones.$invalid">
	      </div>
			</div>
		</div><!-- form-group -->

	</div>
</div>




	<button ng-disabled="!orderForm.$valid" ng-click="submitNew()">Submit Form</button>

	&nbsp;&nbsp;&nbsp;
	<a href="/#/orders?verifiedState=0">View pending orders</a> |
	<a href="/#/orders?verifiedState=1">Shippable</a>


</form>