<div ng-include src="'/views/orders/_modal.html'"></div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Order Detail #{{order.id}}</h3>
    
    <a href="/#/orders/edit/{{order.id}}">Edit</a> | 
    
    <span ng-if="!order.is_verified">
    <a href="" 
      data-toggle="modal" data-target="#myModal"
      ng-click="showInventoryOptions(order)">
      Adjust phones
    </a>

    <span ng-if="data[order.id].slotsAvailable == 0"> |
    <a href="" 
      ng-click="verifyOrder(order)">Mark Verified</a>
    </span>
    </span>
    <a ng-if="order.is_verified" 
      href="/#/orders/ship/{{order.id}}">Ship</a>

  </div>
  <div class="panel-body">
  <div class="row">
      <div class="col-xs-6">Invoice #:</div>
      <div class="col-xs-6">{{order.invoice_id}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Delivery Type:</div>
      <div class="col-xs-6">{{order.delivery_type_str}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Full Address:</div>
      <div class="col-xs-6">{{order.full_address}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Shipping Name:</div>
      <div class="col-xs-6">{{order.shipping_name}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Shipping City:</div>
      <div class="col-xs-6">{{order.shipping_city}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Shipping State:</div>
      <div class="col-xs-6">{{order.shipping_state}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Shipping Zip:</div>
      <div class="col-xs-6">{{order.shipping_zip}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Shipping Country:</div>
      <div class="col-xs-6">{{order.shipping_country}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Shipping Apt/Suite:</div>
      <div class="col-xs-6">{{order.shipping_apt_suite}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Shipping Notes:</div>
      <div class="col-xs-6">{{order.shipping_notes}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Arrival Date:</div>
      <div class="col-xs-6">{{order.arrival_date_display}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Departure Date:</div>
      <div class="col-xs-6">{{order.departure_date_display}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Language:</div>
      <div class="col-xs-6">{{order.language}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Num Phones:</div>
      <div class="col-xs-6">{{order.num_phones}}</div>
    </div>
  </div>
</div>


<div class="row">
  <h4 class="col-xs-12">Assigned Phones</h4>
</div>
  <table class="table" ng-if="data[order.id].phoneSlots.length > 0">
  <thead>
  <tr>
    <th ng-class="{ascending: sort.column == 'id' && !sort.descending, 
                   descending: sort.column == 'id' && sort.descending}" ng-click="changeSorting('id')">
      # <span ng-show="sort.column == 'id'"> {{ sort.descending | sortOrderIcon }}</span>
    </th>
    <th ng-class="{ascending: sort.column == 'phone_num' && !sort.descending, 
                   descending: sort.column == 'phone_num' && sort.descending}" ng-click="changeSorting('phone_num')">
      Number <span ng-show="sort.column == 'phone_num'"> {{ sort.descending | sortOrderIcon }}</span>
    </th>
    <th ng-class="{ascending: sort.column == 'provider_id' && !sort.descending, 
                   descending: sort.column == 'provider_id' && sort.descending}" ng-click="changeSorting('provider_id')">
      Telco <span ng-show="sort.column == 'provider_id'"> {{ sort.descending | sortOrderIcon }}</span>
    </th>
    <th ng-class="{ascending: sort.column == 'MEID' && !sort.descending, 
                   descending: sort.column == 'MEID' && sort.descending}" ng-click="changeSorting('MEID')">
      MEID <span ng-show="sort.column == 'MEID'"> {{ sort.descending | sortOrderIcon }}</span>
    </th>
    <th ng-class="{ascending: sort.column == 'last_imaged' && !sort.descending, 
                   descending: sort.column == 'last_imaged' && sort.descending}" ng-click="changeSorting('last_imaged')">
      Last Imaged On <span ng-show="sort.column == 'last_imaged'"> {{ sort.descending | sortOrderIcon }}</span>
    </th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="phone in data[order.id].phoneSlots | orderBy: orderProp | orderBy:sort.column:sort.descending">
    <td ng-class-odd="'odd'" ng-class-even="'even'">
      <a href="/#/inventory/{{ phone.inventory_id }}">{{ phone.inventory_id }}</a></td>
    <td ng-class-odd="'odd'" ng-class-even="'even'">{{ phone.phone_num }}</td>
    <td ng-class-odd="'odd'" ng-class-even="'even'">{{ phone.provider_id }}</td>
    <td ng-class-odd="'odd'" ng-class-even="'even'">{{ phone.MEID }}</td>
    <td ng-class-odd="'odd'" ng-class-even="'even'">{{ phone.last_imaged_display }}</td>
    <td ng-class-odd="'odd'" ng-class-even="'even'">
      <a href="" ng-click="togglePhoneActivation(phone)">
        {{ phone.active ? 'Deactivate' : 'Activate' }}
      </a>
    </td>
  </tr>
  </tbody>
  </table>
<p ng-if="order.phones.length == 0">No phones assigned.</p>

<!-- TODO: turn into an include -->
<div class="row">
  <h4 class="col-md-12">Shipping History</h4>
</div>

<div class="row">
  <div class="col-md-12" class="text-success" ng-if="data.doneShipping">All phones for this order have already shipped</div>
</div>
<div class="row" ng-repeat="shipment in order.shipments | orderBy:shipment.out_on_date:true">
  <div class="col-md-12">
    [ {{shipment.out_on_date_display}} ] {{shipment.qty}} phone(s) {{data.shipmentPhoneIds[shipment.id]}} went out via {{shipment.delivery_type.name}}.
  </div>
</div>