<div class="detail-column">

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Order Detail #{{order.id}}</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-6">Delivery Type:</div>
      <div class="col-xs-6">{{order.delivery_type_str}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Full Address:</div>
      <div class="col-xs-6">{{order.full_address}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Shipping Name:</div>
      <div class="col-xs-6">{{order.shipping_name}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Shipping City:</div>
      <div class="col-xs-6">{{order.shipping_city}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Shipping State:</div>
      <div class="col-xs-6">{{order.shipping_state}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Shipping Zip:</div>
      <div class="col-xs-6">{{order.shipping_zip}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Shipping Country:</div>
      <div class="col-xs-6">{{order.shipping_country}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Shipping Apt/Suite:</div>
      <div class="col-xs-6">{{order.shipping_apt_suite}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Shipping Notes:</div>
      <div class="col-xs-6">{{order.shipping_notes}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Arrival Date:</div>
      <div class="col-xs-6">{{order.arrival_date}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Departure Date:</div>
      <div class="col-xs-6">{{order.departure_date}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Language:</div>
      <div class="col-xs-6">{{order.language}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Num Phones:</div>
      <div class="col-xs-6">{{order.num_phones}}</div>
    </div>
  </div>
</div>

</div>