<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Order Detail #{{Order.order.id}}</h3>
    
    <a href="/#/orders/edit/{{Order.order.id}}">Edit</a> | 
    
    <span ng-if="!Order.order.is_verified">
    <a href="" 
      data-toggle="modal" data-target="#myModal"
      ng-click="Order.showInventoryOptions(Order.order)">
      Adjust phones
    </a>

    <span ng-if="Order.data[Order.order.id].slotsAvailable == 0"> |
    <a href="" 
      ng-click="Order.verifyOrder(Order.order)">Mark Verified</a>
    </span>
    </span>
    <a ng-if="Order.order.is_verified" 
      href="/#/orders/ship/{{Order.order.id}}">Ship</a>

  </div>
  <div class="panel-body">
  <div class="row">
      <div class="col-xs-6">Invoice #:</div>
      <div class="col-xs-6">{{Order.order.invoice_id}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Delivery Type:</div>
      <div class="col-xs-6">{{Order.order.delivery_type_str}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Full Address:</div>
      <div class="col-xs-6">{{Order.order.full_address}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Shipping Name:</div>
      <div class="col-xs-6">{{Order.order.shipping_name}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Shipping City:</div>
      <div class="col-xs-6">{{Order.order.shipping_city}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Shipping State:</div>
      <div class="col-xs-6">{{Order.order.shipping_state}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Shipping Zip:</div>
      <div class="col-xs-6">{{Order.order.shipping_zip}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Shipping Country:</div>
      <div class="col-xs-6">{{Order.order.shipping_country}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Shipping Apt/Suite:</div>
      <div class="col-xs-6">{{Order.order.shipping_apt_suite}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Shipping Notes:</div>
      <div class="col-xs-6">{{Order.order.shipping_notes}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Arrival Date:</div>
      <div class="col-xs-6">{{Order.order.arrival_date_display}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Departure Date:</div>
      <div class="col-xs-6">{{Order.order.departure_date_display}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Language:</div>
      <div class="col-xs-6">{{Order.order.language}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Num Phones:</div>
      <div class="col-xs-6">{{Order.order.num_phones}}</div>
    </div>
  </div>
</div>

<div class="row">
  <h4 class="col-xs-12">Assigned Phones</h4>
</div>

<ex-inventory-table phones="Order.data[Order.order.id].phoneSlots"></ex-inventory-table>

<ex-shipping-summary shipments="Order.order.shipments" 
  phones-in-order="Order.order.num_phones"></ex-shipping-summary>