<h3>{{Order.data.pageTitle}}</h3>
<br />

<p ng-if="Order.options.unverified">Please verify the orders below so we can move them into the delivery queue.</p>

<p>Search: <input ng-model="query">&nbsp;&nbsp;&nbsp;
<a href="/#/orders/new">Add +</a> | 
<a ng-if="Order.options.unverified" href="/#/orders?verifiedState=1">Shippable orders</a>
<a ng-if="Order.options.unshipped" href="/#/orders?verifiedState=0">Pending orders </a>
</p>

<ex-order-table options="Order.options" pull-data-fn="Order.pullDataFn">
</ex-order-table>