<h3>Orders</h3>

<p>Search: <input ng-model="query">&nbsp;&nbsp;&nbsp;
<a href="#/orders/new">Add +</a></p>

<table class="table">
<thead>
<tr>
	<th ng-class="{ascending: sort.column == 'order_state' && !sort.descending, 
								 descending: sort.column == 'order_state' && sort.descending}" ng-click="changeSorting('id')">
		State <span ng-show="sort.column == 'id'"> {{ sort.descending | sortOrderIcon }}</span>
	</th>
	<th ng-class="{ascending: sort.column == 'delivery_type' && !sort.descending, 
								 descending: sort.column == 'delivery_type' && sort.descending}" ng-click="changeSorting('delivery_type')">
		Type <span ng-show="sort.column == 'delivery_type'"> {{ sort.descending | sortOrderIcon }}</span>
	</th>
	<th ng-class="{ascending: sort.column == 'shipping_name' && !sort.descending, 
								 descending: sort.column == 'shipping_name' && sort.descending}" ng-click="changeSorting('shipping_name')">
		Customer Name <span ng-show="sort.column == 'shipping_name'"> {{ sort.descending | sortOrderIcon }}</span>
	</th>
	<th ng-class="{ascending: sort.column == 'full_address' && !sort.descending, 
								 descending: sort.column == 'full_address' && sort.descending}" ng-click="changeSorting('full_address')">
		Shipping Address <span ng-show="sort.column == 'full_address'"> {{ sort.descending | sortOrderIcon }}</span>
	</th>
	<th ng-class="{ascending: sort.column == 'arrival_date' && !sort.descending, 
								 descending: sort.column == 'arrival_date' && sort.descending}" ng-click="changeSorting('arrival_date')">
		Arrival <span ng-show="sort.column == 'arrival_date'"> {{ sort.descending | sortOrderIcon }}</span>
	</th>
	<th ng-class="{ascending: sort.column == 'departure_date' && !sort.descending, 
								 descending: sort.column == 'departure_date' && sort.descending}" ng-click="changeSorting('departure_date')">
		Departure <span ng-show="sort.column == 'departure_date'"> {{ sort.descending | sortOrderIcon }}</span>
	</th>
	<th></th>
</tr>
</thead>
<tbody>
<tr ng-repeat="order in orders | filter:query | orderBy:sort.column:sort.descending">
	<td ng-class-odd="'odd'" ng-class-even="'even'">{{ order.order_state }}</td>
	<td ng-class-odd="'odd'" ng-class-even="'even'">{{ order.delivery_type }}</td>
	<td ng-class-odd="'odd'" ng-class-even="'even'">{{ order.shipping_name }}</td>
	<td ng-class-odd="'odd'" ng-class-even="'even'">{{ order.full_address }}</td>
	<td ng-class-odd="'odd'" ng-class-even="'even'">{{ order.arrival_date }}</td>
	<td ng-class-odd="'odd'" ng-class-even="'even'">{{ order.departure_date }}</td>
		<td ng-class-odd="'odd'" ng-class-even="'even'">
		<a href="#/orders/{{ order.id }}">Details</a>

		<a href="" ng-click="toggleActivation($index)">
			{{ order.active ? 'Deactivate' : 'Activate' }}
		</a>
	</td>
</tr>
</tbody>
</table>
