<h3>Orders</h3>

<a href="#/orders/new">Add +</a> | 
<a href="#/orders/unshipped">View awaiting shipments</a></p>

<table class="table table-striped table-hover table-responsive">
<thead>
<tr>
	<th ng-class="{ascending: sort.column == 'order_state' && !sort.descending, 
								 descending: sort.column == 'order_state' && sort.descending}" ng-click="changeSorting('id')">
		State <span ng-show="sort.column == 'id'"> {{ sort.descending | sortOrderIcon }}</span>
	</th>
	<th ng-class="{ascending: sort.column == 'delivery_type' && !sort.descending, 
								 descending: sort.column == 'delivery_type' && sort.descending}" ng-click="changeSorting('delivery_type')">
		Type <span ng-show="sort.column == 'delivery_type'"> {{ sort.descending | sortOrderIcon }}</span>
	</th>
	<th ng-class="{ascending: sort.column == 'shipping_name' && !sort.descending, 
								 descending: sort.column == 'shipping_name' && sort.descending}" ng-click="changeSorting('shipping_name')">
		Customer Name <span ng-show="sort.column == 'shipping_name'"> {{ sort.descending | sortOrderIcon }}</span>
	</th>
	<th ng-class="{ascending: sort.column == 'full_address' && !sort.descending, 
								 descending: sort.column == 'full_address' && sort.descending}" ng-click="changeSorting('full_address')">
		Shipping Address <span ng-show="sort.column == 'full_address'"> {{ sort.descending | sortOrderIcon }}</span>
	</th>
	<th ng-class="{ascending: sort.column == 'arrival_date' && !sort.descending, 
								 descending: sort.column == 'arrival_date' && sort.descending}" ng-click="changeSorting('arrival_date')">
		Arrival <span ng-show="sort.column == 'arrival_date'"> {{ sort.descending | sortOrderIcon }}</span>
	</th>
	<th ng-class="{ascending: sort.column == 'departure_date' && !sort.descending, 
								 descending: sort.column == 'departure_date' && sort.descending}" ng-click="changeSorting('departure_date')">
		Departure <span ng-show="sort.column == 'departure_date'"> {{ sort.descending | sortOrderIcon }}</span>
	</th>
	<th></th>
</tr>
</thead>
<tbody>
<tr ng-repeat="order in orders | filter:query | orderBy:sort.column:sort.descending">
<td colspan="7">
	<table class="table borderless">
	<tr>
		<td>{{ order.order_state }}</td>
		<td>{{ order.delivery_type }}</td>
		<td>{{ order.shipping_name }}</td>
		<td>{{ order.full_address }}</td>
		<td>{{ order.arrival_date }}</td>
		<td>{{ order.departure_date }}</td>
		<td>
			<a href="#/orders/{{order.id}}">Inspect</a> | 
			<a ng-click="pullInventory(order)">Assign</a>
		</td>
	</tr>
	<tr ng-show="order.assignSelectIsVisible">
		<td colspan="7">
			<p>
				Assigned phones: {{order.slotsAvailable == order.num_phones ? 'none' : ''}}
				<!-- TODO: turn into directive -->
				<button class="phoneSlot-{{order.id}}-{{phoneSlot.id}}" ng-repeat="phoneSlot in order.phoneSlots" ng-if="phoneSlot" type="button" class="btn btn-xs btn-default"
					ng-click="removeMatch(order, phoneSlot.id)">{{ phoneSlot.inventory_id}} &nbsp;<span class="glyphicon glyphicon-remove"></span></button>
				&nbsp;
				&nbsp;
				<button type="button" class="btn btn-xs btn-success" ng-if="!order.slotsAvailable" ng-click="goShip()">
					Ship it! &nbsp;<span class="glyphicon glyphicon-thumbs-up"></span>
				</button>
			</p>
			
			<div ng-if="order.slotsAvailable > 0">
				<p>You have {{order.slotsAvailable}} open slot(s). Assign the next:</p>
	      <select class="dropdown"
	          name="assign"
	          ng-model="order.assignedInventoryItem"
	          ng-options="it.id as it.inventory_id for it in order.availableInventory">
	          <option value="">Select...</option>
	      </select>
				<button type="button" class="btn btn-xs btn-primary" ng-click="updateAssignedInventory(order)">
					<span class="glyphicon glyphicon-ok"></span>
				</button>
			</div>
		</td>
	</tr>

	<tbody>
	</table>
</td>
<tr><!--ng-if="order.assignSelectVisible"-->

</tr>

</tbody>
</table>
