<div class="detail-column">

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Card Detail #{{card.id}}</h3>
    <a href="#/creditCards/edit/{{card.id}}">Edit</a>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-6">Braintree ID:</div>
      <div class="col-xs-6">{{card.bt_id}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Last 4:</div>
      <div class="col-xs-6">{{card.last4}}</div>
    </div>
  </div>
</div>

</div>