<h3>Credit Cards</h3>

<p>Search: <input ng-model="query">&nbsp;&nbsp;&nbsp;
<a href="#/creditCards/new">Add +</a></p>

<table class="table">
<thead>
<tr>
	<th ng-class="{ascending: sort.column == 'order_state' && !sort.descending, 
								 descending: sort.column == 'order_state' && sort.descending}" ng-click="changeSorting('bt_id')">
		Braintree ID <span ng-show="sort.column == 'bt_id'"> {{ sort.descending | sortOrderIcon }}</span>
	</th>
	<th ng-class="{ascending: sort.column == 'order_state' && !sort.descending, 
								 descending: sort.column == 'order_state' && sort.descending}" ng-click="changeSorting('last4')">
		Last 4 <span ng-show="sort.column == 'last4'"> {{ sort.descending | sortOrderIcon }}</span>
	</th>
	<th></th>
	</tr>
</thead>
<tbody>
	<tr ng-repeat="card in creditCards | filter:query | orderBy:sort.column:sort.descending">

		<td ng-class-odd="'odd'" ng-class-even="'even'">
			{{ card.bt_id }}</td>
		<td ng-class-odd="'odd'" ng-class-even="'even'">
			{{ card.last4 }}</td>
		<td ng-class-odd="'odd'" ng-class-even="'even'">
			<a href="#/creditCards/{{ card.id }}">Details</a>

			<a href="" ng-click="toggleActivation($index)">
			{{ card.active ? 'Deactivate' : 'Activate' }}</a>
		</td>
	</tr>
</tbody>
	