<div class="panel panel-warning">
	<div class="panel-heading">
		<h3 class="panel-title">{{ header }}</h3>
	</div>
	<div class="panel-body">

		<div class="form-group">
			<label class="col-xs-3 control-label" for="inventory_id">Inventory ID:</label>
			<div class="col-xs-6">
				<input type="text" class="form-control"
					name="inventory_id" 
					ng-model="form.item.inventory_id" 
					ng-model-options="{ updateOn: 'default blur', debounce : { 'default' : 500, blur : 0 } }"
					ng-minlength="1"
					ng-maxlength="20" 
					required />
				<div class="text-danger" ng-messages="inventoryForm.inventory_id.$error" 
					ng-messages-include="errors.html" 
					ng-if="inventoryForm.inventory_id.$dirty && inventoryForm.inventory_id.$invalid">
	      </div>
	    </div>
		</div><!-- form-group -->

		<div class="form-group">
			<label class="col-xs-3 control-label" for="MEID">MEID:</label>
			<div class="col-xs-6">
				<input type="text" class="form-control"
					name="MEID" 
					ng-model="form.item.MEID" 
					ng-model-options="{ updateOn: 'default blur', debounce : { 'default' : 500, blur : 0 } }"
					ng-minlength="1"
					ng-maxlength="20" 
					required />
				<div class="text-danger" ng-messages="inventoryForm.MEID.$error" 
					ng-messages-include="errors.html" 
					ng-if="inventoryForm.MEID.$dirty && inventoryForm.MEID.$invalid">
	      </div>
	    </div>
		</div><!-- form-group -->

		<div class="form-group">
			<label class="col-xs-3 control-label" for="ICCID">ICCID:</label>
			<div class="col-xs-6">
				<input type="text" class="form-control"
					name="ICCID"
					ng-model="form.item.ICCID" 
					ng-model-options="{ debounce : { 'default' : 500, blur : 0 } }"
					ng-minlength="1"
					ng-maxlength="30" 
					required />
				<div class="text-danger" ng-messages="inventoryForm.ICCID.$error" ng-messages-include="errors.html" 
							 ng-if="inventoryForm.ICCID.$dirty && inventoryForm.ICCID.$invalid">
		    </div>
		  </div>
		</div><!-- form-group -->

		<div class="form-group">
			<label class="col-xs-3 control-label" for="phone_num">
				Phone Number:</label>
			<div class="col-xs-6">
				<input type="text" class="form-control"
					name="phone_num"
					ng-model="form.item.phone_num" 
					ng-model-options="{ debounce : { 'default' : 500, blur : 0 } }"
					ng-maxlength="20"
					required />
				<div class="text-danger" ng-messages="inventoryForm.phone_num.$error" ng-messages-include="errors.html" 
							 ng-if="inventoryForm.phone_num.$dirty && inventoryForm.phone_num.$invalid">
		    </div>
		  </div>
		</div><!-- form-group -->

		<div class="form-group">
			<label class="col-xs-3 control-label" for="last_imaged">
				Last Imaged On:</label>
			<div class="col-xs-6">
				<input type="date" class="form-control"
					name="last_imaged"
					max="{{form.maxDate | date:'yyyy-MM-dd'}}" 
					ng-model="form.item.last_imaged" 
					ng-model-options="{ debounce : { 'default' : 500, blur : 0 } }"
					required />
				<div class="text-danger" ng-messages="inventoryForm.last_imaged.$error" ng-messages-include="errors.html" 
							 ng-if="inventoryForm.last_imaged.$dirty && inventoryForm.last_imaged.$invalid">
		    </div>
		  </div>
		</div><!-- form-group -->

		<div class="form-group">
			<label class="col-xs-3 control-label" for="provider">Provider:</label>
			<div class="col-xs-6">
				<select class="dropdown form-control"
						name="provider" 
						ng-model="form.item.provider_id" 
						ng-options="provider.id as provider.name for provider in misc.providers"
						>
						<option value="">Select...</option>
				</select>
			</div>
		</div><!-- form-group -->
	
		<div class="form-group">
			<label class="col-xs-3 control-label" for="notes">Notes:</label>
			<div class="col-xs-6">
				<textarea type="text" class="form-control"
					name="notes"
					ng-model="form.item.notes" 
					ng-model-options="{ debounce : { 'default' : 500, blur : 0 } }"
					ng-maxlength="200" 
				>
				</textarea>
				<div class="text-danger" ng-messages="inventoryForm.notes.$error" ng-messages-include="errors.html" 
						ng-if="inventoryForm.notes.$dirty && inventoryForm.notes.$invalid">
		    </div>
		  </div>
		</div><!-- form-group -->

	</div>
</div>