	<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Phone Detail</h3>
		<a href="/#/inventory/edit/{{Inventory.item.inventory_id}}">Edit</a> | 
		<a href="/#/inventory">View all phones</a>
	</div>
	<div class="panel-body">
	<div class="row">
			<div class="col-xs-3">Inventory ID:</div>
			<div class="col-xs-6">{{Inventory.item.inventory_id}}</div>
		</div>
		<div class="row">
			<div class="col-xs-3">MEID:</div>
			<div class="col-xs-6">{{Inventory.item.MEID}}</div>
		</div>
		<div class="row">
			<div class="col-xs-3">ICCID:</div>
			<div class="col-xs-6">{{Inventory.item.ICCID}}</div>
		</div>
		<div class="row">
			<div class="col-xs-3">Phone Number:</div>
			<div class="col-xs-6">{{Inventory.item.phone_num}}</div>
		</div>
		<div class="row">
			<div class="col-xs-3">Last Imaged On:</div>
			<div class="col-xs-6">{{Inventory.item.last_imaged_display}}</div>
		</div>
		<div class="row">
			<div class="col-xs-3">Provider:</div>
			<div class="col-xs-6">{{Inventory.item.provider.name}}</div>
		</div>
		<div class="row">
			<div class="col-xs-3">Notes:</div>
			<div class="col-xs-6">{{Inventory.item.notes}}</div>
		</div>
	</div>
</div>

<div class="row">
	<h4 class="col-xs-12">Current Order</h4>
</div>
	<div ng-if="Inventory.data.current_order.length > 0">

	<!-- refresh-data="Order.initFromData" data="Order.data"-->
	<ex-order-table orders="[ Inventory.data.current_order ]">
	</ex-order-table>

	</div>
</div>
<div ng-if="Inventory.data.current_order.length == 0">
	<div class="row">
		<div class="col-xs-12" ng-if="!Inventory.item.upcoming_orders">
			<p>- None -</p>
		</div>
	</div>
</div>

<div class="row">
	<h4 class="col-xs-12">Upcoming orders</h4>
</div>
<div ng-if="Inventory.data.upcoming_orders.length > 0">

	<!-- refresh-data="Order.initFromData" data="Order.data"-->
	<ex-order-table orders="Inventory.data.upcoming_orders">
	</ex-order-table>

</div>
<div ng-if="Inventory.data.upcoming_orders.length == 0">
	<div class="row">
		<div class="col-xs-12" ng-if="!Inventory.item.upcoming_orders">
			<p>No scheduled orders.</p>
		</div>
	</div>
</div>

<br />