<div class="detail-column">

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Inventory Detail #{{item.id}}</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-6">MEID:</div>
			<div class="col-xs-6">{{item.MEID}}</div>
		</div>
		<div class="row">
			<div class="col-xs-6">ICCID:</div>
			<div class="col-xs-6">{{item.ICCID}}</div>
		</div>
		<div class="row">
			<div class="col-xs-6">Phone Number:</div>
			<div class="col-xs-6">{{item.phone_num}}</div>
		</div>
		<div class="row">
			<div class="col-xs-6">Last Imaged On:</div>
			<div class="col-xs-6">{{item.last_imaged}}</div>
		</div>
		<div class="row">
			<div class="col-xs-6">Provider:</div>
			<div class="col-xs-6">{{item.providerName}}</div>
		</div>
		<div class="row">
			<div class="col-xs-6">Notes:</div>
			<div class="col-xs-6">{{item.notes}}</div>
		</div>
		<div class="row">
			<div class="col-xs-6">Last updated on:</div>
			<div class="col-xs-6">{{item.updated_at}}</div>
		</div>
		<div class="row">
			<div class="col-xs-6">Notes:</div>
			<div class="col-xs-6">{{item.notes}}</div>
		</div>
		<br />
		<div class="row">
			<div class="col-xs-12">Upcoming orders</div>
			<div class="col-xs-12">...</div>
		</div>
	</div>
</div>





</div>