<h3>Inventory</h3>

<p>Search: <input ng-model="query">&nbsp;&nbsp;&nbsp;
<a href="#/inventory/new">Add +</a></p>


<table class="table">
<thead>
<tr>
	<th ng-class="{ascending: sort.column == 'id' && !sort.descending, 
								 descending: sort.column == 'id' && sort.descending}" ng-click="changeSorting('id')">
		# <span ng-show="sort.column == 'id'"> {{ sort.descending | sortOrderIcon }}</span>
	</th>
	<th ng-class="{ascending: sort.column == 'phone_num' && !sort.descending, 
								 descending: sort.column == 'phone_num' && sort.descending}" ng-click="changeSorting('phone_num')">
		Number <span ng-show="sort.column == 'phone_num'"> {{ sort.descending | sortOrderIcon }}</span>
	</th>
	<th ng-class="{ascending: sort.column == 'provider_id' && !sort.descending, 
								 descending: sort.column == 'provider_id' && sort.descending}" ng-click="changeSorting('provider_id')">
		Telco <span ng-show="sort.column == 'provider_id'"> {{ sort.descending | sortOrderIcon }}</span>
	</th>
	<th ng-class="{ascending: sort.column == 'MEID' && !sort.descending, 
								 descending: sort.column == 'MEID' && sort.descending}" ng-click="changeSorting('MEID')">
		MEID <span ng-show="sort.column == 'MEID'"> {{ sort.descending | sortOrderIcon }}</span>
	</th>
	<th ng-class="{ascending: sort.column == 'last_imaged' && !sort.descending, 
								 descending: sort.column == 'last_imaged' && sort.descending}" ng-click="changeSorting('last_imaged')">
		Last Imaged On <span ng-show="sort.column == 'last_imaged'"> {{ sort.descending | sortOrderIcon }}</span>
	</th>
	<th></th>
</tr>
</thead>
<tbody>
<tr ng-repeat="inv in inventory | filter:query | orderBy: orderProp | orderBy:sort.column:sort.descending">
	<td ng-class-odd="'odd'" ng-class-even="'even'">{{ inv.id }}</td>
	<td ng-class-odd="'odd'" ng-class-even="'even'">{{ inv.phone_num }}</td>
	<td ng-class-odd="'odd'" ng-class-even="'even'">{{ inv.provider_id }}</td>
	<td ng-class-odd="'odd'" ng-class-even="'even'">{{ inv.MEID }}</td>
	<td ng-class-odd="'odd'" ng-class-even="'even'">{{ inv.last_imaged }}</td>
	<td ng-class-odd="'odd'" ng-class-even="'even'">
		<!--button type="button" class="btn btn-xs btn-default" ng-click="viewDetail($index)">Details</button-->
		<a href="#/inventory/{{ inv.id }}">Details</a>

		<a href="" ng-click="toggleActivation($index)">
			{{ inv.active ? 'Deactivate' : 'Activate' }}
		</a>
	</td>
</tr>
</tbody>
</table>
