<div class="container">

<h3 class="row">
	<div class="col-xs-3 text-left"><a href="#/telcos">Telcos</a></div>
	<div class="col-xs-3 text-center"><a href="#/creditCards">Credit Cards</a></div>
	<div class="col-xs-3 text-center"><a href="#/shipments">Shipments</a></div>
	<div class="col-xs-3 text-right"><a href="#/eventLogs">Event Log</a></div>
</h3>


<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Today's alerts:</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-12">...</div>
		</div>
	</div>
</div>

</div>