<h3>Telcos</h3>

<p>Search: <input ng-model="query">&nbsp;&nbsp;&nbsp;
<a href="#/telcos/new">Add +</a></p>

<table class="table">
<thead>
<tr>
	<th ng-class="{ascending: sort.column == 'order_state' && !sort.descending, 
								 descending: sort.column == 'order_state' && sort.descending}" ng-click="changeSorting('name')">
		Name<span ng-show="sort.column == 'name'"> {{ sort.descending | sortOrderIcon }}</span>
	</th>
	<th></th>
	</tr>
</thead>
<tbody>
	<tr ng-repeat="telco in telcos | filter:query | orderBy:sort.column:sort.descending">

		<td ng-class-odd="'odd'" ng-class-even="'even'">
			{{ telco.name }}</td>
		<td ng-class-odd="'odd'" ng-class-even="'even'">
			<a href="#/telcos/{{ telco.id }}">Details</a>

			<a href="" ng-click="toggleActivation($index)">
			{{ telco.active ? 'Deactivate' : 'Activate' }}</a>
		</td>
	</tr>
</tbody>
	