<p>This is the telco view.</p>

<p>Search: <input ng-model="query"></p>

<table class="table">
<thead>
<tr>
	<th ng-class="{ascending: sort.column == 'id' && !sort.descending, 
								 descending: sort.column == 'id' && sort.descending}" ng-click="changeSorting('id')">
		# <span ng-show="sort.column == 'id'"> {{ sort.descending | sortOrderIcon }}</span>
	</th>
	<th ng-class="{ascending: sort.column == 'name' && !sort.descending, 
								 descending: sort.column == 'name' && sort.descending}" ng-click="changeSorting('name')">
		Name <span ng-show="sort.column == 'name'"> {{ sort.descending | sortOrderIcon }}</span>
	</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="telco in telcos | filter:query | orderBy:sort.column:sort.descending">
	<td ng-class-odd="'odd'" ng-class-even="'even'">{{ telco.id }}</td>
	<td ng-class-odd="'odd'" ng-class-even="'even'">{{ telco.name }}</td>
</tr>
</tbody>
</table>
