<div class="detail-column">

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Receipt Detail #{{receipt.id}}</h3>
    <a href="#/receipts/edit/{{receipt.id}}">Edit</a>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-6">Braintree Trans Id:</div>
      <div class="col-xs-6">{{receipt.bt_trans_id}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Discount Code:</div>
      <div class="col-xs-6">{{receipt.discount_code}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Shipping String:</div>
      <div class="col-xs-6">{{receipt.shipping_string}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Referral Code:</div>
      <div class="col-xs-6">{{receipt.referral_code}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Rental Charge:</div>
      <div class="col-xs-6">{{receipt.rental_charge}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Shipping Charge:</div>
      <div class="col-xs-6">{{receipt.shipping_charge}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Rental Discount:</div>
      <div class="col-xs-6">{{receipt.rental_discount}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Tax Charge:</div>
      <div class="col-xs-6">{{receipt.tax_charge}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Payment Amount:</div>
      <div class="col-xs-6">{{receipt.payment_amount}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Payment Date:</div>
      <div class="col-xs-6">{{receipt.payment_date}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Payment Status:</div>
      <div class="col-xs-6">{{receipt.payment_status}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Discount String:</div>
      <div class="col-xs-6">{{receipt.discount_string}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Last 4 Digits:</div>
      <div class="col-xs-6">{{receipt.last_4_digits}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Refunded:</div>
      <div class="col-xs-6">{{receipt.refunded}}</div>
    </div>

  </div>
</div>

</div>