<p>Receipts</p>

<p>Search: <input ng-model="query">&nbsp;&nbsp;&nbsp;
<a href="#/receipts/new">Add +</a></p>

<table class="table">
<thead>
<tr>
	<th ng-class="{ascending: sort.column == 'id' && !sort.descending, 
								 descending: sort.column == 'id' && sort.descending}" ng-click="changeSorting('id')">
		# <span ng-show="sort.column == 'id'"> {{ sort.descending | sortOrderIcon }}</span>
	</th>
	<th ng-class="{ascending: sort.column == 'name' && !sort.descending, 
								 descending: sort.column == 'name' && sort.descending}" ng-click="changeSorting('bt_trans_id')">
		Braintree transaction ID <span ng-show="sort.column == 'bt_trans_id'"> {{ sort.descending | sortOrderIcon }}</span>
	</th>
	<th ng-class="{ascending: sort.column == 'name' && !sort.descending, 
								 descending: sort.column == 'name' && sort.descending}" ng-click="changeSorting('discount_code')">
		Discount Code <span ng-show="sort.column == 'discount_code'"> {{ sort.descending | sortOrderIcon }}</span>
	</th>
	<th ng-class="{ascending: sort.column == 'name' && !sort.descending, 
								 descending: sort.column == 'name' && sort.descending}" ng-click="changeSorting('shipping_string')">
		Shipping String <span ng-show="sort.column == 'shipping_string'"> {{ sort.descending | sortOrderIcon }}</span>
	</th>
	<th ng-class="{ascending: sort.column == 'name' && !sort.descending, 
								 descending: sort.column == 'name' && sort.descending}" ng-click="changeSorting('referral_code')">
		Referral Code <span ng-show="sort.column == 'referral_code'"> {{ sort.descending | sortOrderIcon }}</span>
	</th>
	<th ng-class="{ascending: sort.column == 'name' && !sort.descending, 
								 descending: sort.column == 'name' && sort.descending}" ng-click="changeSorting('rental_charge')">
		Rental Charge <span ng-show="sort.column == 'rental_charge'"> {{ sort.descending | sortOrderIcon }}</span>
	</th>
	<th ng-class="{ascending: sort.column == 'name' && !sort.descending, 
								 descending: sort.column == 'name' && sort.descending}" ng-click="changeSorting('shipping_charge')">
		Shipping Charge <span ng-show="sort.column == 'shipping_charge'"> {{ sort.descending | sortOrderIcon }}</span>
	</th>
	<th ng-class="{ascending: sort.column == 'name' && !sort.descending, 
								 descending: sort.column == 'name' && sort.descending}" ng-click="changeSorting('rental_discount')">
		Rental Discount <span ng-show="sort.column == 'rental_discount'"> {{ sort.descending | sortOrderIcon }}</span>
	</th>
	<th ng-class="{ascending: sort.column == 'name' && !sort.descending, 
								 descending: sort.column == 'name' && sort.descending}" ng-click="changeSorting('tax_charge')">
		Tax Charge <span ng-show="sort.column == 'tax_charge'"> {{ sort.descending | sortOrderIcon }}</span>
	</th>
	<th ng-class="{ascending: sort.column == 'name' && !sort.descending, 
								 descending: sort.column == 'name' && sort.descending}" ng-click="changeSorting('payment_amount')">
		Payment Amount <span ng-show="sort.column == 'payment_amount'"> {{ sort.descending | sortOrderIcon }}</span>
	</th>
	<th ng-class="{ascending: sort.column == 'name' && !sort.descending, 
								 descending: sort.column == 'name' && sort.descending}" ng-click="changeSorting('payment_date')">
		Payment Date <span ng-show="sort.column == 'payment_date'"> {{ sort.descending | sortOrderIcon }}</span>
	</th>
	<th ng-class="{ascending: sort.column == 'name' && !sort.descending, 
								 descending: sort.column == 'name' && sort.descending}" ng-click="changeSorting('payment_status')">
		Payment Status <span ng-show="sort.column == 'payment_status'"> {{ sort.descending | sortOrderIcon }}</span>
	</th>
	<th ng-class="{ascending: sort.column == 'name' && !sort.descending, 
								 descending: sort.column == 'name' && sort.descending}" ng-click="changeSorting('discount_string')">
		Discount String <span ng-show="sort.column == 'discount_string'"> {{ sort.descending | sortOrderIcon }}</span>
	</th>
	<th ng-class="{ascending: sort.column == 'name' && !sort.descending, 
								 descending: sort.column == 'name' && sort.descending}" ng-click="changeSorting('last_4_digits')">
		Last 4 Digits <span ng-show="sort.column == 'last_4_digits'"> {{ sort.descending | sortOrderIcon }}</span>
	</th>
	<th ng-class="{ascending: sort.column == 'name' && !sort.descending, 
								 descending: sort.column == 'name' && sort.descending}" ng-click="changeSorting('refunded')">
		Refunded <span ng-show="sort.column == 'refunded'"> {{ sort.descending | sortOrderIcon }}</span>
	</th>
	<th></th>
</tr>
</thead>
<tbody>
<tr ng-repeat="receipt in receipts | filter:query | orderBy:sort.column:sort.descending">
	<td ng-class-odd="'odd'" ng-class-even="'even'">
		{{ receipt.id }}</td>
	<td ng-class-odd="'odd'" ng-class-even="'even'">
		{{ receipt.bt_trans_id }}</td>
	<td ng-class-odd="'odd'" ng-class-even="'even'">
		{{ receipt.discount_code }}</td>
	<td ng-class-odd="'odd'" ng-class-even="'even'">
		{{ receipt.shipping_string }}</td>
	<td ng-class-odd="'odd'" ng-class-even="'even'">
		{{ receipt.referral_code }}</td>
	<td ng-class-odd="'odd'" ng-class-even="'even'">
		{{ receipt.rental_charge }}</td>
	<td ng-class-odd="'odd'" ng-class-even="'even'">
		{{ receipt.shipping_charge }}</td>
	<td ng-class-odd="'odd'" ng-class-even="'even'">
		{{ receipt.rental_discount }}</td>
	<td ng-class-odd="'odd'" ng-class-even="'even'">
		{{ receipt.tax_charge }}</td>
	<td ng-class-odd="'odd'" ng-class-even="'even'">
		{{ receipt.payment_amount }}</td>
	<td ng-class-odd="'odd'" ng-class-even="'even'">
		{{ receipt.payment_date }}</td>
	<td ng-class-odd="'odd'" ng-class-even="'even'">
		{{ receipt.payment_status }}</td>
	<td ng-class-odd="'odd'" ng-class-even="'even'">
		{{ receipt.discount_string }}</td>
	<td ng-class-odd="'odd'" ng-class-even="'even'">
		{{ receipt.last_4_digits }}</td>
	<td ng-class-odd="'odd'" ng-class-even="'even'">
		{{ receipt.refunded }}</td>
	<td ng-class-odd="'odd'" ng-class-even="'even'">
		<a href="#/receipts/{{ receipt.id }}">Details</a>

		<a href="" ng-click="toggleActivation(receipt, 'receipts')">
			{{ receipt.active ? 'Deactivate' : 'Activate' }}
		</a>
	</td>
</tr>
</tbody>
</table>
