<p>Shipments</p>

<p>Search: <input ng-model="query">&nbsp;&nbsp;&nbsp;
<a href="#/shipments/new">Add +</a></p>

<table class="table">
<thead>
<tr>
	<th ex-column-header column-name="id"
		display-text="#" order-by="Shipment.orderBy">
	</th>

	<th ex-column-header column-name="delivery_out_code"
		display-text="Delivery Out Code" order-by="Shipment.orderBy">
	</th>

	<th ex-column-header column-name="delivery_return_code"
		display-text="Delivery Out Code" order-by="Shipment.orderBy">
	</th>

	<th ex-column-header column-name="hand_delivered_by"
		display-text="Hand Delivered By" order-by="Shipment.orderBy">
	</th>

	<th ex-column-header column-name="qty"
		display-text="Quantity" order-by="Shipment.orderBy">
	</th>

	<th></th>
</tr>
</thead>
<tbody>
<tr ng-repeat="shipment in Shipment.shipments | filter:query | orderBy:Shipment.orderBy.columnName:Shipment.orderBy.descending">
	<td ng-class-odd="'odd'" ng-class-even="'even'">{{ shipment.id }}</td>
	<td ng-class-odd="'odd'" ng-class-even="'even'">
		{{ shipment.delivery_out_code }}</td>
	<td ng-class-odd="'odd'" ng-class-even="'even'">
		{{ shipment.delivery_return_code }}</td>
		<td ng-class-odd="'odd'" ng-class-even="'even'">
		{{ shipment.hand_delivered_by }}</td>
	<td ng-class-odd="'odd'" ng-class-even="'even'">
		{{ shipment.qty }}</td>
	<td ng-class-odd="'odd'" ng-class-even="'even'">
		<a href="#/shipments/{{ shipment.id }}">Details</a>

		<a href="" ng-click="toggleActivation(shipment, 'shipments')">
			{{ shipment.active ? 'Deactivate' : 'Activate' }}
		</a>
	</td>
</tr>
</tbody>
</table>
