<!-- Modal -->
		<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" 
		        	data-dismiss="modal" ng-click="ctrl.modalObj.dismiss(order)">
		        	<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
		        </button>
		        <h4 class="modal-title" id="myModalLabel">Inventory Received</h4>
		      </div>
		      <div class="modal-body">
			      <div ng-if="ctrl.modalObj.receivedInventory.length > 0">
			        Inventory #{{ctrl.modalObj.receivedInventory}} is available for reuse. Thanks!
			      </div>
			      <div ng-if="ctrl.modalObj.receivedInventory.length == 0">
			      	No valid phones entered. Try again.
			      </div>
		      </div><!-- modal-body -->

		      <div class="modal-footer">
		        <button type="button" class="btn btn-success" data-dismiss="modal">
							Ok
						</button>
						
		      </div>
		    </div>
		  </div>
		</div><!-- end Modal -->